<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Experiance</title>
    <style>
        * {
            margin: 0 auto;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 19.6px;
            color: #1C2B46;
            background-color: #464646;
        }

        .wrapper {
            max-width: 648px;
            background-color: #F7F8FA;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }

        th,
        td {
            padding: initial;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <table class="wrapper">

        <tr>
            <td style="padding: 24px 24px 0;">
                <table style="background-color: #fff; border-radius: 4px;">
                    <tr>
                        <td width="70%" style="padding: 30px 20px 30px 60px;">
                            <div style="padding-bottom: 26px;">
                                <img src="../../assets/images/pixicommerceLogo.svg" alt="Company Logo" width="90"
                                    height="31">
                            </div>
                            <div style="font-size: 28px; line-height: 33.6px; font-weight: bold;">
                                Rate your experience with us
                            </div>
                        </td>
                        <td width="30%" style="text-align: end; padding: 30px 50px 30px 0;">
                            <img src="../../assets/images/rateExperirnce.svg" alt="Rate Experiance Image" width="200"
                                height="200">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 16px 24px 0;">
                <table style="background-color: #fff; border-radius: 4px;">
                    <tr>
                        <td style=" border-bottom: 1px solid #F6F6F6; padding: 24px 24px 21px;">
                            <table>
                                <tr>
                                    <td
                                        style="font-size: 20px; line-height: 30px; padding-bottom: 10px; font-weight: bold;">
                                        Hello Abdelrhman
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #49556B;">
                                        We Hate Cancellation ass much as you do and are trying our best to make surer it
                                        won’t happen agin. Apologies for the incoonvenience.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 24px 24px; color: #49556B;">
                            <table>
                                <tr>
                                    <td style="color: #49556B; padding-bottom: 32px;">
                                        We would love to know more about your experience at Pixicommerce. your feedback
                                        is valuable and will help us provide a better shopping experience for you.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <table>
                                            <tr>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">1</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">2</button>
                                                </td>
                                                <td style="width: 8%">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">3</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">4</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">5</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">6</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #3A8DFE;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #fff;">7</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">8</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">9</button>
                                                </td>
                                                <td style="width: 8%;">
                                                    <button
                                                        style="background: #fff;border: 1px solid #D8E8FF;
                                                border-radius: 4px;height: 48px;width: 46px;margin-right: 4px;color: #0971FE;">10</button>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 17px 24px 0; color: #778090;">
                <table style="background-color: #fff; border-radius: 4px; color: #1C2B46; font-size: 12px;">
                    <tr>
                        <td style="padding: 16px 36px 16px 20px;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 10px;">
                                        We will let you know when your order is on it’s way to you so you can really get
                                        excited about it. <br>We’re doing everything we can to ensure you get your order
                                        safely by;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 5px;">
                                        <ul
                                            style="list-style-type: decimal; font-weight: bold; padding-inline-start: 20px;">
                                            <li>
                                                Sanitizing our facilities
                                            </li>
                                            <li>
                                                Monitoring hygiene
                                            </li>
                                            <li>
                                                Providing contacctless payment options
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 5px;">
                                        Until then, stay safe at home while we we deliver to you.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Love your new buy? Share a picture on Instagram and tag us, when it arrives.
                                        Nothing makes us happier than seeiing a new noon buy in its new home.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 24px;">
                <table
                    style="color: #1C2B46; font-size: 10px; line-height: 14px; border-spacing: 0 16px; border-collapse: separate; width: 90%;">
                    <tr>
                        <td
                            style="background-color: #FFF8E5; border-radius: 5px; border: 1px solid #F7C844; padding: 10px;">
                            <table>
                                <tr>
                                    <td style="vertical-align: top; padding-right: 8px;">
                                        <div>
                                            <img src="../../assets/images/yellowRefresh.svg" alt="Refresh Icon"
                                                width="32" height="33">
                                        </div>
                                    </td>
                                    <td>
                                        Following the announcement by the Government of the Kingdom of Saudi Arbaia
                                        (KSA) to increase the VAT rate to 15 percent, which would be applicable from 1st
                                        of july 2020 onwards. noon is committed to incorporate the changes on all
                                        platform sales. Some of the items from the order may have an older price tag
                                        that doesn’t reflect the change is pricing paid at the time of purchase. we
                                        request you to kindly ingnore the price tag value as the amount paid at the
                                        check out is inclusive of taxes
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color: #F6FFF9; border-radius: 5px; border: 1px solid #A2DCB4; padding: 10px;">
                            <table>
                                <tr>
                                    <td style="vertical-align: top; padding-right: 8px;">
                                        <div>
                                            <img src="../../assets/images/greenRefresh.svg" alt="Refresh Icon"
                                                width="32" height="33">
                                        </div>
                                    </td>
                                    <td>
                                        To do our bit for the environment, we’ve stopped sending paper invoices. you can
                                        download a copy from your account anytime.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 0 24px;">
                <table style=" background-color: white; border-radius: 4px 4px 0 0;">
                    <tr>
                        <td style="padding: 26px 0 20px 20px;">
                            <div
                                style="display: flex; align-items: center; border-right: 1px solid #EEEEEE; padding-right: 14px;">
                                <div>
                                    <img src="../../assets/images/helpIcon.svg" alt="Help Icon" width="20" height="20">
                                </div>
                                <div>
                                    <div style="color: #AEAEAE; font-size: 10px;">
                                        Help Center
                                    </div>
                                    <div>
                                        <a href="#" style="color: #49556B; font-weight: bold; font-size: 12px;">
                                            help.pixicommerce.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="padding: 26px 0 20px 20px;">
                            <div
                                style="display: flex; align-items: center; border-right: 1px solid #EEEEEE; padding-right: 14px;">
                                <div>
                                    <img src="../../assets/images/mailIcon.svg" alt="Help Icon" width="20" height="20">
                                </div>
                                <div>
                                    <div style="color: #AEAEAE; font-size: 10px;">
                                        Email Support
                                    </div>
                                    <div>
                                        <a href="mailto:care@pixicommerce.com"
                                            style="color: #49556B; font-weight: bold; font-size: 12px;">
                                            care@pixicommerce.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="padding: 26px 0 20px 20px;">
                            <div style="display: flex; align-items: center; padding-right: 20px;">
                                <div>
                                    <img src="../../assets/images/callIcon.svg" alt="Help Icon" width="20" height="20">
                                </div>
                                <div>
                                    <div style="color: #AEAEAE; font-size: 10px;">
                                        Phone
                                    </div>
                                    <div>
                                        <a href="tel:+966 59 701 4780"
                                            style="color: #49556B; font-weight: bold; font-size: 12px;">
                                            +966 59 701 4780
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 22px 24px;">
                <table style=" width: 263px; text-align: center; font-size: 10px; line-height: 14px; color: #5D5D5D;">
                    <tr>
                        <td style="padding-bottom: 15px;">
                            You’re Receiving this email as <a href="mailto:john.doe@gmail.com"
                                style="color: #3A8DFE;">john.doe@gmail.com</a> is registered on pixicommerce.com
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="display: inline-flex; padding: 0 8px;">
                                        <a href="#">
                                            <img src="../../assets/images/linkedin.svg" alt="Linkedin" width="14"
                                                height="14">
                                        </a>
                                    </td>
                                    <td style="display: inline-flex; padding: 0 8px;">
                                        <a href="#">
                                            <img src="../../assets/images/linkedin.svg" alt="Linkedin" width="14"
                                                height="14">
                                        </a>
                                    </td>
                                    <td style="display: inline-flex; padding: 0 8px;">
                                        <a href="#">
                                            <img src="../../assets/images/linkedin.svg" alt="Linkedin" width="14"
                                                height="14">
                                        </a>
                                    </td>
                                    <td style="display: inline-flex; padding: 0 8px;">
                                        <a href="#">
                                            <img src="../../assets/images/linkedin.svg" alt="Linkedin" width="14"
                                                height="14">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 0 24px; border-bottom: 1px solid #f4f4f4;">
                <table style=" background-color: white;">
                    <tr>
                        <td style="text-align: center; padding: 17px 0;">
                            <a href="#">
                                <img src="../../assets/images/playStore.svg" alt="Play Store" width="114.24"
                                    height="36.03">
                            </a>
                            <a href="#">
                                <img src="../../assets/images/appStore.svg" alt="App Store" width="114.24"
                                    height="36.03">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 0 24px 24px;">
                <table style=" background-color: white; border-radius: 0 0 4px 4px;">
                    <tr>
                        <td style="padding: 16px 24px; font-size: 10px; line-height: 14px;">
                            <table>
                                <tr>
                                    <td>
                                        <a href="#"
                                            style="padding: 0 7px; color: #778090; border-right: 1px solid #778090;">Terms
                                            of Use</a>
                                        <a href="#"
                                            style="padding: 0 7px; color: #778090; border-right: 1px solid #778090;">Privacy
                                            Policy</a>
                                        <a href="#" style="padding: 0 7px; color: #778090;">Terms of Return</a>
                                    </td>
                                    <td style="opacity: 0.6; color: #778090;">
                                        © 2022 pixicommerce. All rights reserved
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
    </table>
</body>

</html>